<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.1.xsd" >

	<!-- define shared resources -->

	<bean class="org.springframework.beans.factory.config.ServiceLocatorFactoryBean" id="priceDataProviderFactory">
		<property name="serviceLocatorInterface" value="com.jorm.forex.price_data.PriceDataProviderFactory">
		</property>
	</bean>
	<bean class="org.springframework.beans.factory.config.ServiceLocatorFactoryBean" id="trendFinderFactory">
		<property name="serviceLocatorInterface" value="com.jorm.forex.trend.TrendFinderFactory">
		</property>
	</bean>

	<!--<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">-->
		<!--<property name="persistenceUnitName" value="forex_analyzer" />-->
	<!--</bean>-->

</beans>