ul.trends {
  padding: 0;
}
ul.trends > li {
  display: inline-block;
  list-style: none;
  padding: 10px;
  width: 33%;
}
.trend-inner {
  padding: 10px;
  border: 2px solid #999;
  border-radius: 5px;
}
.btn-trend-details {
  width: 100%;
  margin-top:10px;
}
.trend-diff{
  float: right;
  font-weight: 600;
  font-size: 1.6rem;
}
my-date-picker {
  display: inline-block;
  height:100%;
  vertical-align: middle;
}
.form-group {
  padding: 8px;
}

