<h1>Trends</h1>
<form [formGroup]="trendSearchForm" class="form-inline" (ngSubmit)="onSubmitReactiveForms()">
  <div class="form-group">
    <label for="start">From</label>
    <my-date-picker id="start" name="start" [options]="myDatePickerOptions" formControlName="start" [disabled]="trendSearchForm.disabled" required></my-date-picker>
  </div>
  <div class="form-group">
    <label for="end">Until</label>
    <my-date-picker id="end" name="end" [options]="myDatePickerOptions" formControlName="end" [disabled]="trendSearchForm.disabled" required></my-date-picker>
  </div>
  <div class="form-group">
    <label for="symbol">Symbol</label>
    <select class="form-control" id="symbol" formControlName="symbol" required>
      <option value="EURUSD">EURUSD</option>
    </select>
  </div>
  <button class="btn btn-success" type="submit" [disabled]="trendSearchForm.disabled">Submit</button>
</form>
<ul class="trends">
  <li *ngFor="let trend of trends">
    <div class="trend-inner">
      <span class="badge">{{trend.symbol.name}}</span>
      <span class="trend-diff">{{trend.start.open - trend.end.close | number:0}}</span>
      <candlestick-small-chart [trend]="trend"></candlestick-small-chart>
      <button class="btn btn-info btn-trend-details" [routerLink]="['/trend-detail', trend.id]">Details</button>
    </div>
  </li>
</ul>
